body {
    background: #7e7979;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.header {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.pfp {
    width: 6rem;
    height: 6rem;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: 2px solid;
    border-radius: 8px;
    transition: .3s;
}

a:hover {
    background: #fff;
    color: #0f111a;
    box-shadow: 0 0 20px #ffffff;
}

